body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  font-weight: 400;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  color: var(--white);
  background: var(--black);
}
